dist: xenial
language: python
python:
  - '3.7'
install:
  - pip install tox qualifier
script:
  - update_qualifier --no-use-git --branch-name "$TRAVIS_BRANCH" --tag-name "$TRAVIS_TAG"
  - tox
deploy:
  provider: pypi
  user: __token__
  password:
    secure: <change_me>
  skip_existing: true
  distributions: "sdist bdist_wheel"
  on:
    tags: true
